ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
}

button,
input {
  margin: 0 0.5rem;
}

section {
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TodoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.Todo-item {
  display: flex;
  justify-content: space-between;
  color: white;
}

form {
  margin-bottom: 1rem;
}

.Todo-item__text,
.Todo-item--done {
  text-align: left;
  max-width: 300px;
  word-wrap: break-word;
}
